@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Full height */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

header {
    background-color: #1c1c44;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
}

.header-logo {
    height: 50px; /* Example height, you can set your own */
    width: auto; /* Maintain aspect ratio */
    display: block; /* To center the logo if needed */
    margin-left: auto; /* With 'display: block' and 'margin-right: auto', the logo will be centered */
    margin-right: auto;
}

footer {
    background-color: #1c1c44;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 0 200px;
}
.infoBox{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.uploadInfo{
    padding: 20px;
}
label {
    display: block;
    margin: 10px 0 5px;
}

input[type='text'], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}


.upload-container {
    border: dashed 2px #ccc;
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.upload-container:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.upload-container input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.upload-container img {
    max-width: 100%;
    max-height: 100%;
    display: none; /* Hide until an image is uploaded */
}

.upload-instructions {
    text-align: center;
    pointer-events: none; /* Allows click through the text */
}

.shirt-container-white{
    position: relative;
    width: 300px;
    height: 400px;
    background: url('img/shirt\(white\).png') no-repeat center center; /* Replace 'shirt.png' with the path to your shirt image */
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shirt-container-black{
    position: relative;
    width: 300px;
    height: 400px;
    background: url('img/shirt\(black\).png') no-repeat center center; /* Replace 'shirt.png' with the path to your shirt image */
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hoodie-container{
    position: relative;
    width: 300px;
    height: 400px;
    background: url('img/blackhoodie.png') no-repeat center center; /* Replace 'shirt.png' with the path to your shirt image */
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clothbag-container-white{
    position: relative;
    width: 300px;
    height: 400px;
    background: url('img/clothbag\(white\).png') no-repeat center center; /* Replace 'shirt.png' with the path to your shirt image */
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clothbag-container-black{
    position: relative;
    width: 300px;
    height: 400px;
    background: url('img/clothbag\(black\).png') no-repeat center center; /* Replace 'shirt.png' with the path to your shirt image */
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notebook-container{
    position: relative;
    width: 300px;
    height: 400px;
    background: url('img/notebook.jpg') no-repeat center center; /* Replace 'shirt.png' with the path to your shirt image */
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poster-container{
    position: relative;
    width: 300px;
    height: 400px;
    background: url('img/poster.png') no-repeat center center; /* Replace 'shirt.png' with the path to your shirt image */
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mug-container-black{
    position: relative;
    width: 300px;
    height: 400px;
    background: url('img/black\(mug\).png') no-repeat center center; /* Replace 'shirt.png' with the path to your shirt image */
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mug-container-white{
    position: relative;
    width: 300px;
    height: 400px;
    background: url('img/white\(mug\).png') no-repeat center center; /* Replace 'shirt.png' with the path to your shirt image */
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sweetshirt-container-white{
    position: relative;
    width: 300px;
    height: 400px;
    background: url('img//sweetshirt\(white\).png') no-repeat center center; /* Replace 'shirt.png' with the path to your shirt image */
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sweetshirt-container-black{
    position: relative;
    width: 300px;
    height: 400px;
    background: url('img/sweetshirt\(black\).png') no-repeat center center; /* Replace 'shirt.png' with the path to your shirt image */
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mask {
    position: absolute;
    width: 100px; /* Width of the visible area */
    height: 100px; /* Height of the visible area */
    overflow: hidden;
}
.maskB {
    position: absolute;
    width: 100px; /* Width of the visible area */
    height: 100px; /* Height of the visible area */
    overflow: hidden;
    top: 175px;
}

.image-overlay {
    width: 100%; /* Width of the overlay */
    height: 100%; /* Height of the overlay */
    position: absolute;
    background-size: contain; /* Use 'cover' to fill the area */
    background-repeat: no-repeat;
    background-position: center;
}
.image-overlayB {
    width: 100%; /* Width of the overlay */
    height: 100%; /* Height of the overlay */
    position: absolute;
    background-size: contain; /* Use 'cover' to fill the area */
    background-repeat: no-repeat;
    background-position: center;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 20px; /* Space between items */
    margin-top: 20px;
    flex: 1;
}

.product {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
    text-align: center;
    margin-bottom: 20px; /* Margin at the bottom */
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 15px;
}
.product:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Slightly larger shadow for hover effect */
}
.product-image-wrapper{
    display: flex;
    justify-content: center;
}
.product img {
    width: 100%;
    display: block;
    max-height: 200px;
    object-fit: contain;
}

.product-title {
    margin: 10px 0;
}

.product-action {
    display: flex;
    justify-content: center;
    padding: 0 10px 10px;
}

 .disabled {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

 button {
    width: 100px;
    border-radius: 20px;
    background-color: #1c1c44;
    border: 2px solid #1c1c44;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    padding-top: 0px;
    width: 190px;
    height: 45px;
  }
 button:hover {
    background-color: #fff;
    color: #1c1c44;
  }

  .edit-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    /* ... */
}

/* Style to show the draggable feature */
.draggable {
    cursor: move;
}
.disabled {
    background-color: #ddd;
}

.new-tag {
    position: absolute;
    background-color: #ff0;
    padding: 2px 5px;
    font-size: 0.8em;
    top: 5px;
    right: 5px;
}

.product[data-new="true"] .product-image-wrapper {
    position: relative;
}

.product[data-new="true"] .new-tag {
    display: block;
}

.new-tag {
    display: none;
}

/* Media query for smaller screens */
@media (max-width: 980px) {
    .product-container {
        grid-template-columns: 1fr; /* Two columns */
    }
    .content{
        padding: 20px;
    }
}

@media (max-width: 640px) {
    .product-container {
        grid-template-columns: 1fr; /* One column */
    }
    .content{
        padding: 20px;
    }
}
